*{
    box-sizing: border-box;
    margin: 5px;
	padding: 1px;
	border : 5px aqua;
	
}
body{
	background-color:snow;
	
}
.center{
	background-color:lavender;
  background-repeat: no-repeat;
  background-position: 60px;
  border: 5px;
  border-color: wheat;
 

}
 .grid-container {
	 display: grid;
	 grid-gap : 0rem;
	 
	  }  
	 
 .center{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	
 }
 .grid-container{
	 line-clamp: inherit;
 }
 .column-layout{
	font-size: 60px;
	font-style: oblique;
	line-height: 1.1em;
	text-align: left;
	padding-left: 230px;
	padding-top: 70px;
 }
 .column-layout1{
	font-size: 60px;
	font-style: oblique;
	line-height: 1.1em;
	text-align: left;
	padding-left: 200px;
	
 }
 .column-layout2{
	 font-size : 20px;
	 font-style: normal;
	 text-align: left;
	padding-left: 220px;
	padding-bottom: 300px;
 }
 .about-me{
	 font-size : 40px;
	 font-style:italic;
	 text-align: center;
	 line-height : 1.1em;
	 padding-bottom: 20px;
	 padding-top: 40px;
	 border:lightblue;
 }
 p.self{
	font-style: oblique;
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom: 20px;
}
p.studies{
	font-style: oblique;
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom: 50px;

}

.work-experience{
	font-size : 40px;
	 font-style:italic;
	 text-align: center;
	 line-height : 1.1em;
	 padding-top: 10px;
	 padding-bottom:60px;
}
.border-work{
	border-top: 2px solid skyblue;
	border-bottom: 2px solid skyblue;
	border-left: 10%;
	border-right: 10%;
	  padding-top:70px;
	padding-bottom: 70px;	
}
.project1{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 20px;	
}
.content1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}

.languages1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}
.tools1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom:20px;
	

}
.border-work{
	border: 2px solid green;
    padding-top:50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 50px;
	margin-left: 180px;
	margin-right: 180px;
	line-height: 20px;	
	margin-bottom:100px;

}
.project2{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 20px;	
}
.content2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}

.languages2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	

}
.tools2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;

}
.education{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 20px;	
}
.year1{
	text-align: center;
	line-height:0.8em;
	padding-top:20px;
}
.name1{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 10px;	
}
.data1{
	font-style: oblique;
	font-size: 15px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom: 30px;	
}
.year2{
	text-align: center;
	line-height:0.8em;

}
.name2{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 10px;	
}
.data2{
	font-style: oblique;
	font-size: 15px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom: 30px;	
}
.skills{
	text-align: center;
	line-height:0.8em;
	padding-bottom: 10px;	
}
.skillset{
font-style: oblique;
font-size: 15px;
margin-left: auto;
margin-right: auto;
width: 35em;
padding-bottom: 20px;	
}
.border{
	border: 2px solid green;
    padding-top:50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 50px;
	margin-left: 180px;
	margin-right: 180px;
	margin-top:70px;
}
.contactme{
	text-align: center;
	font-style:oblique;
	line-height:0.8em;
	padding-bottom: 20px;	
}
.mail{
	text-align: center;
	font-style: italic;
}
.linked-image{
	text-align: center;
}
.border-me{
	border: 2px solid green;
    padding-top:50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top:150px;
}
	 
 }
 .column {
	-ms-flex: 50%; 
	flex: 50%;
	padding: 0 4px;
  }
 .grid-container{
	display: grid;
	grid-template-rows:120px 130px 120px;	
 }
 
 



			
