*{
    box-sizing: border-box;
    margin: 5px;
	padding: 1px;
	border : 5px aqua;
	
}
body{
	background-color:snow;
	
}
.center{
	background-color:lavender;
  background-repeat: no-repeat;
  background-position: 60px;
  border: 5px;
  border-color: wheat;
 

}
 .grid-container {
	 display: grid;
	 grid-gap : 0rem;
	 
	  }  
	 
 .center{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	
 }
 .grid-container{
	 line-clamp: inherit;
 }
 .column-layout{
	font-size: 60px;
	font-style: oblique;
	line-height: 1.1em;
	text-align: left;
	padding-left: 230px;
	padding-top: 70px;
 }
 .column-layout1{
	font-size: 60px;
	font-style: oblique;
	line-height: 1.1em;
	text-align: left;
	padding-left: 200px;
	
 }
 .column-layout2{
	 font-size : 20px;
	 font-style: normal;
	 text-align: left;
	padding-left: 220px;
	padding-bottom: 300px;
 }
 .about-me{
	 font-size : 40px;
	 font-style:italic;
	 text-align: center;
	 line-height : 1.1em;
	 padding-bottom: 20px;
	 border:lightblue;
 }
 p.self{
	font-style: oblique;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom: 20px;
}
p.studies{
	font-style: oblique;
	margin-left: auto;
    margin-right: auto;
    width: 35em;

}
/*.border-about-me{
	border-top: 2px solid skyblue;
	border-bottom: 2px solid skyblue;
	border-left: 10%;
	border-right: 10%;
    padding-top:70px;
	padding-bottom: 70px;	
}*/
.work-experience{
	font-size : 40px;
	 font-style:italic;
	 text-align: center;
	 line-height : 1.1em;
	 padding-top: 70px;
}
	 
 }
 .column {
	-ms-flex: 50%; 
	flex: 50%;
	padding: 0 4px;
  }
 .grid-container{
	display: grid;
	grid-template-rows:120px 130px 120px;	
 }
 

 



			
