.work-experience{
	font-size : 40px;
	 font-style:italic;
	 text-align: center;
	 line-height : 1.1em;
	 
}

.project1{
	text-align:center;
	
}
.content1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}

.languages1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}
.tools1{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	padding-bottom:20px;
	

}
.virtualpet-screenshot{
   
    margin-right: 30%;
    position: relative;
   padding-left: 360px; 
   padding-bottom: 100px;
   padding-right:40%; 
   height:35px;
   width:25px;
 }
 
.title1{
    text-align: center;
    font-size: 20px;
    
}

.project2{
	text-align: center;
	line-height:0.8em;
	
}
.content2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	
}

.languages2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;
	

}
.tools2{
	font-style: oblique;
	font-size: 17px;
	margin-left: auto;
    margin-right: auto;
	width: 35em;

}

 .stHospital-screenshot{
   margin-right: 30%;
   position: relative;
   padding-left: 360px; 
   padding-right:40%; 
   height:35px;
   width:50px;
   display: center;
 }
 img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
    
  }
  .bg-image {
    height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: black;
    font-weight: bold;
    font-size: 10px;
     /* border: 10px solid grey;  */
    position: fixed;
     top: 50%;
    left: 50%;
     transform: translate(-50%, -50%); 
    z-index: 2;
    width: 80%; 
	padding:0px;
    text-align: center;
  }  