html {
	font-size: 15px;
}
img {
	width :50%;
	height : auto;
}
 figure{
	display : block;
	margin-left: auto;
	width:50%;
}
figcaption{
	margin:20px 20px;
	margin-inline-start:0px;
	 display:ruby-base;
	text-decoration:ivory;
	border-color: silver;
}
body{
	background-color: blanchedalmond;
}
.my-title{
	align-content: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
	width: 100%;
	color:beige;
    margin-left: 1rem;
	
}
.links--left-side{
	margin-left: 1rem;
}
h4{
	align-content: center;
	display: flex;
	justify-content: center;

}
.plainimage{
	align-items: center top;
    background-image: url("Image/plain.jpg");
    background-position: 100% 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: center top;
    margin-bottom: 2rem;
}

.titles__list-left {
	display: flex;
    list-style-type: none;
	margin-right:2rem;
	color:brown; 
}
.linked-image{
	align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

			
