html {
	font-size: 15px;
}
img {
	width :50%;
	height : auto;
}
 figure{
	
	display : block;
	margin-right: auto;
	margin-left: auto;
	width :40%;
}
figcaption{
	
	margin:0px 20px;
	margin-inline-start:1px;
	 display:inline-block;
	text-decoration:ivory;
	border-color: silver;
	
    
   
}
.header-header__title{
	align-items: right;
	display: flex;
}
.linked-image{
	align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h4{
	align-content: center;
	display: flex;
	justify-content: center;

}
