html {
    font-size: 15px;
}

img {
	width = 100%;
	height : auto;
}
 figure{
 	
    position: relative;
    display : block;
    margin-left: auto;
    margin-right: : auto;
    width :60%;
}
figcaption{
    background-color: organge;
	float: center;
    width: 40%;
    position:absolute;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border: thin silver solid;
   
}

